extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/game.css')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")

block content
  h1= title
  p Let's play Connect 4

  div.container
    div.row
      div.col-md-6.div.col-sm-12.col-lg-4
        form#controls.control
          input#player.form-control(type="text", placeholder="player (X or O)")
          input#move.form-control(type="text", placeholder="Column i.e 0 to 6")
          input#submit.form-control(type="submit", value="Make the move")
        p.state state:
        pre#state-code
        input#update.form-control(type="button", value="Update clients")
      div.col-md-6.col-sm-12.col-lg-8
        div#game.container-fluid

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/game.js')
  script(src='/javascripts/conn4.js')
